@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@layer base {
    body {
        @apply bg-[url('./assets/images/bg.png')] bg-slate-900 bg-no-repeat bg-left-top;
        font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    header {
        @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-3 transition-all lg:px-10 lg:py-4;
    }
}

@layer components {
    .navLink {
        @apply cursor-pointer text-sm font-bold text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3];
    }
}

.flicker-3 {
	-webkit-animation: flicker-3 7s linear infinite both;
	        animation: flicker-3 7s linear infinite both;
}

@-webkit-keyframes flicker-3 {
    0%,
    100% {
      opacity: 1;
    }
    32.98% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    34% {
      opacity: 0;
    }
    34.02% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    35.9% {
      opacity: 0;
    }
    35.92% {
      opacity: 1;
    }
    38.98% {
      opacity: 1;
    }
    39% {
      opacity: 0;
    }
    39.8% {
      opacity: 0;
    }
    39.82% {
      opacity: 1;
    }
    83.98% {
      opacity: 1;
    }
    84% {
      opacity: 0;
    }
    84.9% {
      opacity: 0;
    }
    84.92% {
      opacity: 1;
    }
  }
  @keyframes flicker-3 {
    0%,
    100% {
      opacity: 1;
    }
    32.98% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    34% {
      opacity: 0;
    }
    34.02% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    35.9% {
      opacity: 0;
    }
    35.92% {
      opacity: 1;
    }
    38.98% {
      opacity: 1;
    }
    39% {
      opacity: 0;
    }
    39.8% {
      opacity: 0;
    }
    39.82% {
      opacity: 1;
    }
    83.98% {
      opacity: 1;
    }
    84% {
      opacity: 0;
    }
    84.9% {
      opacity: 0;
    }
    84.92% {
      opacity: 1;
    }
}
